.Profile_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.profile_top_contaienr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}
.profile_image_div_profiole {
  position: relative;
}
.uplodeIcon_div {
  position: absolute;
  cursor: pointer;
  bottom: -5px;
  left: -10px;
}
.profile_publish_icon {
  font-size: 2rem;
}
.profile_image_uplode {
  visibility: hidden;
}
.profile_uplode_lable {
  cursor: pointer;
}
.image_profile_page {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.profile_top_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  line-height: 1.4rem;
}
.name_profile {
  font-size: 1.2rem;
}
.online_profile {
  color: #7a7f9a;
}

.prfoile_desctiption_div {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.profile_dextoptio_text {
  text-align: center;
  width: 80%;
  color: #7a7f9a;
  font-size: 1.1rem;
}
.Profile_About_section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.profile_Abouy_text_main {
  width: 80%;
  display: flex;
  background-color: red;
  justify-content: space-between;
}
.profile_arrow_icon {
  cursor: pointer;
}

.profile_abouit_fropdown_contaienr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transform: translateY(500px);
  transition: all 0.6s ease-in-out;
}

.profile_about_dropdown_contaienr_active {
  width: 100%;
  display: flex;
  /* transition: 0.80s all; */
  flex-direction: column;
  align-items: center;
  visibility: visible;
  transform: translateY(0);
  display: flex;
  justify-content: center;
}
.profile_about_center {
  display: flex;
}

.submitbuttontoupdate {
  width: 80%;
  cursor: pointer;
  height: 5vh;
  background-color: blue;
  color: white;
  font-size: 15px;
}
