.userstatusBox_main_div{
  width: 20%;
  background-color:white ;
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  border-radius: 15%;

}

.statusImages{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: absolute;
    top: -20px;
}

.box_status_typo{
  position: absolute;
  top: 25px;
  font-size: 0.8rem !important;
}